/* VARIABLE */

:root {
    --tipo:'IBM Plex Sans', Helvetica, Arial, sans-serif;
    --tipoP300:300;
    --tipoP400:400;
    --tipoP500:500;
    --tipoCuerpoSize:18px;
    --tipoH2Size:30px;
    --tipoH3Size:24px;
    --tipoH4Size:22px;
    --rojoCorp:#D10A1C;
    --negro:#383838;
    --blanco:#ffffff;
}

/* GENERALES */

body {
    font-family: var(--tipo);
    font-size: var(--tipoCuerpoSize);
}

.cab1 h1 {
    font-size: var(--tipoH2Size);
    text-align: center;
    margin: 14vh 0 4vh 0;
    padding:0 6vw 0 6vw;
}

/* INICIO HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 2vw 0 2vw;
}

header nav {
    margin-bottom:1vh;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:4vw;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    padding:1vh;
    color:var(--negro);
}

header nav ul li a:hover {
    border-bottom:2px solid var(--rojoCorp);
}

/* FIN HEADER */


/* INICIO HOME */

section.disseny p {
    text-align: center;
    padding:0 6vw 0 6vw;
    margin-bottom: 4vh;
    line-height: 120%;
}

article.servei {
    display:flex;
    align-items: center;
    color:var(--blanco);
    margin: 4vh 0 4vh 0;
} 

article.servei p {
    text-align: left;
    font-weight: var(--tipoP300);
}

article.servei header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:0;
}

article.servei header section {
    background: var(--rojoCorp);
    padding:4vw 4vw 0vw 4vw;
    display: flex;
    flex-direction: column;
    gap:2vh;
}

article.servei header h2 {
    font-size: var(--tipoH2Size);
    text-align: left;
    padding-left:4vw;
    color: var(--rojoCorp);
    margin: 4vh 0 4vh 0;
}

article.servei header section h3 {
    font-size: var(--tipoH3Size);
    font-weight: var(--tipoP500);
    color: var(--blanco);
}

article.servei header section h4 {
    font-size: var(--tipoH4Size);
    font-weight: var(--tipoP400);
    color: var(--blanco);
}

article.servei header section p {
    padding:2vw;
    line-height: 120%;
}

article.servei picture {
    display: flex;
    align-items: center;
    padding: 2vw;
}

article.servei picture img {
    width:40vw;
}

.grafic, .ux {
    order:2;
}

.graficfoto, .uxfoto {
    order:1;
}

/* FIN HOME */

/* INICIO CONTACTO */

main form {
    margin:0 0 2vw 0;
}

main form ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

main form ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 70vw;
    justify-content: center;
    gap: 1vw;
}

main form input{
    height: 5vh;
} 

main form input, main form textarea {
    width:100%;
}

main form textarea {
    height: 20vh;
}

main form ul li:nth-child(4){
    flex-direction: row;
    align-items: center;
}

main form ul li:nth-child(5){
    align-items: center;
}

main form ul li button {
    width: 50%;
    color: var(--blanco);
    background: var(--rojoCorp);
    border:1px solid var(--rojoCorp);
    font-size: 18px;
    padding:3vh;
}

main form ul li button:hover {
    border:1px solid var(--rojoCorp);
    background: var(--blanco);
    color: var(--rojoCorp);

}

input[id="dades"] {
    display: flex;
    order:1;
    align-self: flex-start;
    width: 20px;
}

label[for="dades"]{
    order:2;
}

label[for="dades"] a{
    color: var(--rojoCorp);
}

/* FIN CONTACTO */

/* INICIO ACERCA */

section.sectores {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70vw;
    margin:0 auto;
    gap:1vh;
}

section.sectores div:nth-child(1){
    flex-direction: row;
    align-items: flex-end;
}

section.sectores div:nth-child(1) div{
    flex-direction: column;
}

section.sectores img {
    width: 14vw;
    height: 14vw;
    margin:0 4vw 0 0;
}

section.sectores h2 {
    font-size: var(--tipoH2Size);
}

section.sectores p {
    line-height: 120%;
    padding: 4vh 0 0 0;
}

section.sectores ul li{
    list-style-type: none;
    line-height: 140%;
} 

section.sectores div {
    display: flex;
    margin: 4vw 0 0 0;
}

section.sectores article {
    width: 50%;
    padding:4vw;
    border-left:1px solid var(--rojoCorp);
    gap:2vw;
}

section.sectores article a {
    text-decoration: none;
    color: var(--negro);
    padding:4vh 1vh 1vh 1vh;
    display: inline-block;
}

section.sectores article a::before {
    content: "» ";
}

section.sectores article a:hover {
    border-bottom:2px solid var(--rojoCorp);
}

section.sectores article h4 {
    font-size: var(--tipoH4Size);
}

/* FIN ACERCA */

/* INICIO CV PROFESIONAL */

main.cv {
    width: 70vw;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    gap:4vw;
}

nav.interna {
    position: sticky;
    top:0;
    padding: 2vw;
    background: var(--blanco);
    border-top:1px solid var(--rojoCorp);
    border-bottom:2px solid var(--rojoCorp);
    z-index: 100;
}

nav.interna ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:4vw;
}

nav.interna ul li {
    list-style-type: none;
}

nav.interna ul li a {
    text-decoration: none;
    padding:1vh;
    color:var(--negro);
}

nav.interna ul li a:hover {
border-bottom:2px solid var(--rojoCorp);
}

main.cv section {
    gap:2vw;
}

main.cv section p {
    margin: 0 0 2vw 0;
    line-height: 120%;
}

main.cv section ul li {
    line-height: 140%;
}

main.cv section ul li span {
    font-weight: var(--tipoP500);
}

main.cv section a {
    color: var(--negro);
    text-decoration: none;
}

main.cv section h2 {
    font-size: var(--tipoH3Size);
    margin:0 0 4vw 0;
}

main.cv section h3 {
    font-size: var(--tipoH4Size);
    font-weight: var(--tipoP300);
    margin:0 0 4vw 0;
}

main.cv section h4 {
    font-size: var(--tipoH4Size);
    font-weight: var(--tipoP300);
    margin:4vw 0 4vw 0;
}

main section.feina {
    margin: 0 0 4vw 0;
}

main.cv section table, main.cv section table td, main.cv section table thead, main.cv section table th  {
    border: 1px solid var(--rojoCorp);
    padding:1vh;
    text-align: center;
}

main.cv section table td:nth-child(1){
    background: var(--rojoCorp);
    color:var(--blanco);
}

main.cv ul li span {
    color: var(--rojoCorp);
}

/* FIN CV PROFESIONAL */

/* INICIO FOOTER */

footer {
    border-top: 1px solid var(--rojoCorp);
    padding: 2vw;
    color: var(--negro);
}

footer ul.rrss {
    display: flex;
    justify-content: center;
    gap: 20vw;
}

footer ul.rrss li {
    list-style-type: none;
}

footer ul.rrss li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding:1vh;
    color: var(--negro);
    gap:1vw;
}

footer ul.rrss li a:hover {
    border-bottom:2px solid var(--rojoCorp);
}

footer ul.rrss li img {
    width:30px;
}

/* FIN FOOTER */